@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kanit&display=swap');

:root{

    --font-padrao: 'Kanit', sans-serif;
    --font-titulo: 'Caveat', cursive;

    --cor-de-fundo:#ff8800;
    --cor-de-fundo-secundaria:#ffffff;
    --cor-das-letras:#000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--cor-de-fundo-secundaria);
    color: #000000;
    
    
}

.menu {
    margin-top: -100vh;
    margin-left: 1em;
    padding-top: 1em;
    transition: 500ms;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: var(--cor-de-fundo-secundaria);
    padding:0.5em 0em;
}

.menu li {
    margin-bottom: 10px;
    color: #000000;
    display: flex;
    align-items:center;
    justify-content: center
    
}

.menu li a {
    color: #000000;
    text-decoration: none;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    margin-left: 1em;
}

.menu-icon-bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
  
}

.show {
    margin: 0;
    transition: 500ms;
    font-family: var(--font-padrao); 
    font-size: 1.2em;
}

.menu-img {
    width: 2rem;
    margin-top: 1rem;
   
}

