@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kanit&display=swap');

:root{

    --font-padrao: 'Kanit', sans-serif;
    --font-titulo: 'Caveat', cursive;

    --cor-de-fundo:#ff8800;
    --cor-de-fundo-secundaria:#ffffff;
    --cor-das-letras:#000000;
}

.costelas{
    display: flex;
    flex-direction: column;
    gap:3em;
    margin-top: 10em;
    border-top: 4px solid var(--cor-das-letras);
    padding-top: 3em;
}

.troncoescala{

    display: flex;
    align-items: left;
    margin-top: 2em;
    flex-direction: column;
    gap: 0.5em;
}

.troncoescala__card{

    display:flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    border-bottom: 4px solid var(--cor-das-letras);
    
}

.troncoescala__titulo{

    font-family: var(--font-titulo);
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

.troncoescala__card__paragrafo{

    font-family: var(--font-titulo);
    font-size: 2em;
}

.troncoescala__card__imagem{

    width: 12em;
    height: 12em;
    margin-bottom: 3.5em;
    
}



    


