:root{

    --font-padrao: 'Kanit', sans-serif;
    --font-titulo: 'Caveat', cursive;

    --cor-de-fundo:#ff8800;
    --cor-de-fundo-secundaria:#ffffff;
    --cor-das-letras:#000000;
}

.corpo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpo__apresentacao__titulo{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    font-family: var(--font-titulo);
    font-size: 4em;
    font-weight: 700;
 
}

.corpo__apresentacao__subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: var(--cor-de-fundo-secundaria);
    margin-top: 0.5em;
    border-bottom: 4px solid var(--cor-de-fundo-secundaria);

    padding-bottom: 5em;
    
}

.tronco{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    flex-direction: column;
    gap: 0.5em;
}

.tronco__titulo{

    font-family: var(--font-titulo);
    font-size: 2.1em;
    font-weight: 700;
    
    
}

.tronco__paragrafo{

    font-family: var(--font-padrao);
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    
    border-left: 2px solid var(--cor-de-fundo-secundaria);
    border-right: 2px solid var(--cor-de-fundo-secundaria);
    padding-left: 1em;
}

.iframe{
    
    margin-top: 2.5em;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.3);
}

